@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  
  
  @theme {
    --color-primary-text: #0E121B;
    --color-secondary-text: #525866;
    --color-third-text: #0E121B;
    --color-start-bg: #F3F5F8;


    --font-inter: 'Inter', sans-serif;
  }

  @layer base {
    body {
      font-family: var(--font-inter);
      color: var(--color-primary-text);
    }

  }

  @layer components {
    .card {
      background-color: var(--color-white);
      border-radius: var(--rounded-lg);
      padding: var(--spacing-6);
      box-shadow: var(--shadow-xl);
    }
  }

  